
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: grid;
    height: 500px; /* height: 100vh stretches element height to full height of viewport */
    width: 500px;
    border-width:10px;
    border-style:solid;
    border-color: violet;
}

button {
    border-radius: 5px;
    margin: 12px;
    border-style: solid;
    font-weight: bold;
    background-color: violet;
    font-size: 20px;
    padding: 10px 20px;
    width: 100px;
    height: 75px;
}